@model prac_demo_enitity_framework.Models.Admin

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminDept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminDept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminImg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
